{erl_opts, [debug_info]}.

{deps, []}.

{project_plugins, [erlfmt]}.

{relx, [
    {release, {echo, "0.1.0"}, [echo, sasl]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
%     {mode, dev}
]}.

%% automatically picked up if the files
%% exist but can be set manually, which
%% is required if the names aren't exactly
%% sys.config and vm.args

%% the .src form of the configuration files do
%% not require setting RELX_REPLACE_OS_VARS
%% {sys_config_src, "./config/sys.config.src"},
%% {vm_args_src, "./config/vm.args.src"}

{profiles, [
    {prod, [
        {relx, [
            {mode, minimal},
            {include_erts, false},
            {system_libs, false}
        ]}
    ]}
]}.

%% prod is the default mode when prod

%% profile is used, so does not have
%% to be explicitly included like this

%% use minimal mode to exclude ERTS
%% {mode, minimal}

{erlfmt, [
    write, {print_width, 100}, {files, ["apps/**/*.{hrl,erl,app.src,config}", "rebar.config"]}
]}.
